.App {
  font-size: x-large;
  font-weight: bold;
  color: #9D8189;
  text-shadow: 1px 1px #FFE5D9;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
}

.food{
 box-shadow: 1px 1px 1px #9D8189;
 padding: 3px 10px;
 margin-bottom: 6px;
 border-radius: 3px;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.food:hover{
  background-color: #D8E2DC;
}

.foodList{
  background: #FFE5D9;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
  margin-left: 20%;
}

button{
  color: #9D8189;
  background-color: #FFCAD4;
  text-shadow: 1px 1px #FFE5D9;
  font-size: x-large;
  font-weight: bold;
  font-family: 'Shadows Into Light', cursive;
  background-color: none;
  border: none;
}

button:hover{
  text-shadow: none;
  color: #D8E2DC; 
  background-color: #9D8189;
}

input{
  color: #FFE5D9;
}
