.App {
  font-size: x-large;
  font-weight: bold;
  color: #FFE5D9;
  text-shadow: 1px 1px #9D8189;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  align-items: center;
}

#x{
  width: fit-content;
  margin-left: 60%;
  margin-right: auto;
}

.food{
 box-shadow: 1px 1px 1px #9D8189;
 padding: 3px 10px;
 margin-bottom: 6px;
 border-radius: 3px;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.food:hover{
  background-color: #a8f5c7;
  color: #9D8189;
  text-shadow: none;
}

.foodList{
  background: #f3778a;
  border-radius: 4px;
  padding: 5px;
  width: fit-content;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
h2{
  color: #f3778a;
  text-shadow: 2px 2px #69575c;
  font-weight: bolder;
}
#directions{
  color: #f3778a;
  text-shadow: 1px 1px #69575c;
  margin-top: -10px;
}
button{
  color: #9D8189;
  background-color: #F4ACB7;
  text-shadow: 1px 1px #9D8189;
  font-size: x-large;
  font-weight: bold;
  font-family: 'Shadows Into Light', cursive;
  background-color: none;
  border: none;
}

button:hover{
  text-shadow: none;
  color: #D8E2DC; 
  background-color: #9D8189;
}

input{
  box-shadow: 1px 1px 1px #9D8189;
  padding: 3px 10px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input:hover{
  background-color: #a8f5c7;
}
