body {
  background-color: #FFCAD4;
  background-image: url('https://64.media.tumblr.com/f61473351b56dcb0c6fad91174b0e1cc/tumblr_n5sibaiUnW1sztyb3o1_1280.png');
  font-family: 'Shadows Into Light', cursive;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body:hover h2{
  text-shadow: none;
  color: #97596a;
  background-color: #a8f5c7;
  box-shadow: 1px 1px 1px #9D8189;
}

body:hover #directions{
  text-shadow: none;
  color: #97596a;
  background-color: #a8f5c7;
  box-shadow: 1px 1px 1px #9D8189;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
